*{
	margin:0;
	padding:0;
}
.navbar-brand{
	padding-top:0;
	padding-bottom:0;
	margin-right:0;
}
.navbar-brand img{
	width: 50px;
    height: 60px;
}
.navbar{
	background:#131315;
	border-bottom:3px solid #A88244;
}
.menu-section ul{}
.menu-section ul li{}
.menu-section ul li a{
	color:#fff;
	font-size:15px;
	font-weight:600;
	margin-right:5px;
	text-transform:uppercase;
}
.form-inline h4{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 40px;
	margin-bottom:0px;
}
.register a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 32px;
	text-decoration:none;
	font-weight:600;
}
.signin a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 65px;
	text-decoration:none;
	font-weight:600;
}
/* panel-box */
.panel-box{
	height:100vh;
	width:300px;
	background:#e6e6e6;
	top:0;
	right:-300px;
	transition:0.3s;
	position:fixed;
}
.control-btn{
	position:absolute;
	top:0;
	color:#fff;
	font-size:20px;
	cursor:pointer;
	left: -40px;
}
.control-btn i{
	color: #A88244;
    font-size: 28px;
    margin-top: 25px;
    display: inline-block;
}
#panel-box.controlbtnactive{
	right:0px;
}
/* background */
.background{
	background:url(../img/bg3.png)no-repeat;
	background-size:cover;
	background-position:100% 100%;
	height:300px;
	width:100%;
}
.backgroundHeaderAuction{
	background:url(../img/auction/header.png)no-repeat;
	background-size:cover;
	background-position:100% 100%;
	height:350px;
	width:100%;
}

.slideAuction{
	background:url(../img/auction/image01.png)no-repeat;
	background-size:cover;
	
	height:auto;
	width:100%;
}
.first-group{
	background:#2B2A2C;
}
.one{
	padding-left:10px;
	padding-top:6px;
}
.one h3{
	color:#fff;
	font-size:16px;
}
.one p{
	color:#fff;
	font-size:14px;
	border-bottom:2px solid #A88244;
}
.third-group img{
	width:20%;
	height:150px;
}
.second-group{
	position:relative;
}
.second-group::after{
	content:"";
	position:absolute;
	width:2px;
	height:185%;
	background:#000;
	top:0;
	left:-14px;
}

.gallery{
	background-color: #15171a;
}

.events{
	color: #A88244;
}
body{
	background-color: #15171a;
}



.profile-img {
	width: 36px;
	height: 36px;
	position: relative;
	border-radius: 100%; }
	.profile-img img {
	  width: 36px;
	  height: 36px;
	  border-radius: 100%; }
	.profile-img .online-status {
	  position: absolute;
	  left: -6px;
	  top: 15px;
	  display: block;
	  height: 13px;
	  width: 13px;
	  border: 2px solid #ffffff;
	  border-radius: 100%; }
	.profile-img.profile-img-lg {
	  width: 47px;
	  height: 47px; }
	  .profile-img.profile-img-lg img {
		width: 47px;
		height: 47px; }
  
  .profile-img {
	width: 36px;
	height: 36px;
	border-radius: 100%; }
	.profile-img.profile-img-lg {
	  width: 47px;
	  height: 47px; }

	
	  body > footer > div > div:nth-child(5) > ul > a:nth-child(n) > img{
		  width: 40px;
		  margin: 15px;
		
		 
	  }

	  a{
		  color: white;
		  text-decoration: none;
	  }

	ul > li{
		  list-style: none;
		  
	  }


	  body > footer > div > div.col-md-3 > h4 > img{
		margin:0;
		padding:0;
		height: 50px;
	  } 

	  body > section.background > div > div > div > h1 > img{
		margin:0;
		padding:0;
		height: 100px;
	  }

	  .rightDiv {
		color:#fff;
		font-size:14px;
		border:2px solid #fff;
	}

	hr{
		border:1px solid #A88244;
		width: 100%;


	}

   input[type=text]{
		background-color: rgb(41, 40, 40);
		width: 90%;
		height: 60px;
		margin-top: 10px;
	
	}


	body > section:nth-child(5) > div > div.row.py-4 > div:nth-child(2) > div > div:nth-child(1) > ul > a:nth-child(n) > img{
		margin: 5px;
		padding:0;
		height: 50px;     
	}



	body > section:nth-child(5) > div > div.row.py-4 > div:nth-child(2) > div > div:nth-child(4) > div > div > div > div:nth-child(2) > ul > a:nth-child(n) > img{
		margin: 3px;
		height: 15px;
	}

	body > section:nth-child(5) > div > div.row.py-4 > div:nth-child(2) > div > div:nth-child(5) > div > div > div > div:nth-child(2) > ul > a:nth-child(n) > img{
		margin: 3px;
		height: 15px;
	}

	body > section:nth-child(5) > div > div.row.py-4 > div:nth-child(2) > div > div:nth-child(6) > div > div > div > div:nth-child(2) > ul > a:nth-child(n) > img{
		margin: 3px;
		height: 15px;
	}



	body > section:nth-child(5) > div > div.row.py-4 > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div.row > div.col-md-6 > h3 > a{
		color: #A88244;
	}



	body > section:nth-child(5) > div > div.row.py-4 > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div:nth-child(3) > div:nth-child(2) > ul > a:nth-child(n) > img{
		margin: 5px;
		height: 15px;
	}


	body > section:nth-child(5) > div > div.row.py-4 > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div:nth-child(3) > div:nth-child(1) > ul > a:nth-child(n) > img{
		margin: 5px;
		height: 25px;
	}



	body > section:nth-child(4) > div > div > img{
		width: 100%;
	}
	.memberUpdates{

		color: #A88244;
	}




.navbar {
	border-top:2px solid #A88244;
	border-bottom:2px solid #A88244;
	background-color: #131315;
	margin: 0;
	padding: 0;
}	


body > section:nth-child(4) > div > div > div:nth-child(1) > div > img{
	width: 100%;
	height: auto;
	border:2px solid #A88244;
}

 .timing-wrapper {
	bottom: 20px;
	
	left: 15px;
  }

  .timing-wrapper .box-wrapper {
	display: table;
	text-align: center;
	margin-right: 4px;
	float: left;
  }

 .timing-wrapper .box-wrapper .box {
	background-color: #0d0c10;
	color: #fff;
	display: table-cell;
	height: 44px;
	vertical-align: middle;
	width: 45px;
	line-height: 15px;
  
  }
   .timing-wrapper .box-wrapper .box .key {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	font-family:'Open Sans', sans-serif
  }
 .timing-wrapper .box-wrapper .box .value {
	display: block;
	font-size: 9px;
	font-weight: 500;
	letter-spacing:0.5px
  }
  .timing-wrapper .box-wrapper:last-child {
	margin-right: 0px;
  }

  body > section:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(2) > div > div:nth-child(10) > div > form > div > div.col-2 > button > img{
         width: 50px;
		 border:2px solid #A88244;

  }
	
 .border1{
	border:2px solid #A88244;
	background-color: #0d0c10;
 } 
 .border2{
	border:2px solid #A88244;
 } 
 .textColour{
	 color:#A88244; 
 }
 .contentBgColur{
	 background-color: #0d0c10;
 }

 .footer{
	 background-color: #141315;
 }

 body > section:nth-child(5) > div > div > div > div:nth-child(1) > img{
	 width: 80%;
 }

 body > section:nth-child(6) > div > div > div:nth-child(n) > img{
	 width: 100%;
	 border:2px solid #A88244;
 }








